streamlit
pandas
numpy
matplotlib
seaborn
plotly
scikit-learn
joblib
tqdm
folium
streamlit-folium
Markdown
markdown-it-py
MarkupSafe
numerize
oauthlib
openpyxl
opt-einsum
packaging
pandas-profiling
streamlit-apexjs
streamlit-card
streamlit-elements
streamlit-option-menu
streamlit-pandas-profiling
plotly-express
scipy
streamlit-extras
decorator
deprecation
dowhy
pypdf
re
sentence-transformers
spacy
click
pillow
requests
pathlib
opencv-python-headless
pytube
ultralytics
g4f
gpt-3.5-turbo
Pillow
pytz
yfinance
cvxpy
urlextract
emoji
